.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contentContainer{
  max-width: 65%;
}


.inputContainer{
  margin-top: 5px;  
}

.searchBar::placeholder{
  color: white;
  padding: 5px;
}
.searchBar{
  background-color: #444654;
  border-radius: 7px;
  min-width: 50rem;
  height: 2rem;
  padding: 0px;
  margin-right: 5px;
  color: white;
  
}

button{
height: 2rem;
background-color: #444654;
border-radius: 7px;
color: white;
}